-- RPC for safely creating a match and linking entries, bypassing RLS
CREATE OR REPLACE FUNCTION public.create_match_for_room(
  p_room_id UUID,
  p_player_one_id UUID,
  p_player_two_id UUID
)
RETURNS JSON AS 
DECLARE
  v_match_id UUID;
  v_existing_match_id UUID;
BEGIN
  -- Check if match already exists to make it idempotent
  SELECT id INTO v_existing_match_id FROM public.matches WHERE room_id = p_room_id LIMIT 1;
  
  IF v_existing_match_id IS NOT NULL THEN
    RETURN json_build_object('success', true, 'match_id', v_existing_match_id);
  END IF;

  -- Insert the match
  INSERT INTO public.matches (room_id, player_one_id, player_two_id, status)
  VALUES (p_room_id, p_player_one_id, p_player_two_id, 'playing')
  RETURNING id INTO v_match_id;

  -- Update match entries to link them to this match
  UPDATE public.match_entries SET match_id = v_match_id WHERE room_id = p_room_id;

  -- Update room status to playing
  UPDATE public.rooms SET status = 'playing' WHERE id = p_room_id;

  RETURN json_build_object('success', true, 'match_id', v_match_id);
END;
 LANGUAGE plpgsql SECURITY DEFINER;

